[Desktop Entry]
Type=Application
Icon=harbour-sailhub
Exec=sailjail -p harbour-sailhub.desktop /usr/bin/harbour-sailhub
Name=SailHub

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=SailHub
Permissions=Internet
ExecDBus=/usr/bin/harbour-sailhub -prestart
