[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailhub
Name=SailHub

MimeType=x-url-handler/github.com;
X-Maemo-Service=org.nubecula.sailhub
X-Maemo-Object-Path=/
X-Maemo-Method=org.nubecula.sailhub.openUrl

NotShowIn=X-MeeGo;
Hidden=true

